@media screen and (max-width: 729px) {
    div#buttons-container,
    div#version-button-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main#pokemon-main {
        grid-template-columns: 1fr;

        img {
            align-self: center;
        }
    }

    section#secundary-information {
        grid-template-columns: 1fr;

        aside#general-information {
            flex-direction: column;
        }
     
    }

    section#pokemon-moves {
        header {
            grid-template-columns: 1fr;
        }
        div#tables-container {
            grid-template-columns: 1fr;
        }
    }

}

@media screen and (max-width: 426px) {
    section#pokemon-details-container {
        align-items:center ;
    }

    div#description-button-container,
    div#move-button-container {
        grid-template-columns: 1fr 1fr;
    }

    header#pokemon-presentation {
        div#types {
            width: 50%;
        }
    }
 
    section#pokemon-moves{
        table {
            display: block;
            width: 80%;
            overflow-x: scroll;
        }

        div#version-presentation {
            span#version-name {
                font-size: 1.5rem;
            }
        }
        
    } 
  
}

@media screen and (max-width:360px) {
    section#pokemon-details-container {
        align-items:center ;
    }

    div#buttons-container,
    div#version-button-container {
        grid-template-columns: 1fr 1fr;
    }

    header#pokemon-presentation {
        div#types {
            width: 100%;
        }
    }

    main#pokemon-main {
        img {
            width: 100%;
            margin-left: 0px;
        }
    }
    
    section#pokemon-moves{
        table {
            display: block;
            width: 50%;
            overflow-x: scroll;
        }
        
    } 
}

@media screen and (max-width:340px) {
    section#pokemon-details-container {
        align-items:center ;
    }

    div#buttons-container,
    div#version-button-container {
        grid-template-columns: 1fr 1fr;
    }

    section#pokemon-moves{
        table {
            display: block;
            overflow-x: scroll;
        }
        
    } 
}